a {
  color: #11999E;
}

body {
  margin: 0;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color: #40514E;
}

h1 {
  color: #ffb6b9;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
}

h2 {
  font-weight: normal;
  font-family: 'Montserrat', sans-serif;
  margin-top: 50px;
  font-size: 2.5rem;
  color: #ffb6b9;
}

h3 {
  margin-top: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  color: #ffb6b9;
}

h4 {
  margin-top: 10px;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  color: #ffb6b9;
}

hr {
  border-style: dotted none none none;
  border-width: 7px;
  width: 5%;
  border-color: #EAF6F6;
}

.bitmoji {
  height: 25%;
}

.paisaje {
  position: relative;
  width: 35%;
}

.top-container {
  background-color: #fae3d9;
  position: relative;
  padding: 100px 100px none 100px;
}

.profile {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: center;
  line-height: 2;
}

.bottom-container {
  background-color: #ffb6b9;
  padding: 50px;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.argentina {
  float: left;
  margin-right: 30px;
  width: 25%;
}

.italia {
  float: right;
  margin-left: 30px;
  width: 25%;
}

.espana {
  float: left;
  margin-right: 30px;
  width: 25%;
}

.vino {
  float: right;
  margin-left: 30px;
  width: 25%;
}

.gato {
  float: left;
  margin-right: 30px;
  width: 25%;
}

.footer-link {
  color: white;
  text-decoration: none;
  padding: 20px;
}

.btn {
   -webkit-border-radius: 25px;
   -moz-border-radius: 25px;
   border-radius: 25px;
   color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
   font-size: 25px;
   font-weight: 100;
   padding: 20px;
   background-color: #FFB6B9;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
   margin: 40px;
}

.btn:hover {
   background: #F5C0C0;
   border: solid #FFFFFF 1px;
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
}

.final {
  font-size: 90%;
  color: #EAF6F6;
}
